:root{
    --blanco: #fff;
    --gris: rgba(132, 132, 132, 0.226);
}

*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.catalogo{
    display: flex;
    color: var(--blanco);
}

li{
    padding-right: 4rem;
}

.card{
    border: 1px solid var(--gris);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 250px;
    height: 350px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 5px 25px 25px #d9d9d9;
}


.img-prod{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid var(--gris);
    object-fit: contain;
    width: 250px;
}

.card-gris{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 246px;
    height: 346px;
    display: flex;
    flex-direction: column;
    place-items: start;
}

.form-control{
    width: 300px;
}


.icon{
    position: relative;
    left: 132px;
    top: auto;
    right: auto;
    bottom: 32px;
    cursor: pointer;
}

.img-modal{
    width: 65px;
}

.close{
    padding-left: 0.25rem;
    padding-top: 0.25rem;
}

.modal-cant{
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal-cont{
    display: inline-flex;
    gap: 16px;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;
    border:1.5px solid rgb(194, 194, 194);
    border-radius: 20px;
    transition: border 1s;
    transition-timing-function: ease-in-out;
}

.modal-cont:hover{
    border:1.5px solid rgb(31, 41, 55);
}


.modal-name{
    display: flex;
    justify-content: space-between;
}

.modal-remove{
    margin-right: 0.75rem;
}

.modales{
    display: flex;
    justify-content: space-around;
}


.btn-agregar {
    margin: 15px;
    font-weight: 400;
    padding: 0.5rem 0.8rem;
    background-color: #3E4444;
    color: var(--blanco);
    margin: auto;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s, width 0.8s ease-in-out, height 0.8s ease-in-out; /* Agregamos la propiedad transition aquí */
}

.btn-agregar:hover {
    background-color: #925738; /* Cambiamos el color de fondo en hover */
    color: var(--blanco); /* Cambiamos el color del texto en hover */
    width: 100px; /* Cambiamos el ancho en hover */
    height: 50px; /* Cambiamos la altura en hover */
}

.card-name{
    padding-top:1rem;
    padding-bottom:0.5rem;
    color: black;
    font-weight: 400;
    padding-left: 0.8rem;
}

.card-price{
    margin: 0;
    padding-left: 0.8rem;
    font-size: x-large;
    font-weight: 400;
}

#total{
    font-weight: 500;
}

.modal-total{
    font-weight: 500;
}

#comprar{
    padding: 5px 10px;
    border: 2px solid var(--blanco);
    border-radius: 8px;
    background-color: black;
    color: var(--blanco);
    transition: background-color 0.5s;
}

#comprar:hover{
    background-color: rgb(13, 54, 109);
}

#vaciarCarrito{
    padding: 5px 10px;
    border: 2px solid var(--blanco);
    border-radius: 8px;
    background-color:black;
    color: var(--blanco);
    transition: background-color 0.5s ;
}

#vaciarCarrito:hover{
    background-color: rgb(125, 0, 0);
}


.icono-menu{
    display: none;
}
/*#nav-label{
    margin:40px 50px;
    z-index: 10;
    position: relative;
    display: none;
}

.nav-label img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}*/
/*
.cont-menu{
    background-color: #3E4444;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
    z-index: 1;
}
*/

/*.active{
    transform: translate(600px);
}

.opacity{
    background-color: #925738;
    transition: all .5s ease;
}*/
/*
#icono-menu{
    margin:40px 50px;
    z-index: 10;
    position: relative;
    display: block;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.cont-menu{
    background-color: #3E4444;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
    z-index: 1;
}

.active{
    transform: translate(600px);
}

.opacity{
    background-color: #925738;
    transition: all .5s ease;
}*/


@media (min-width:370px) and (max-width: 550px) {
    
    #icono-menu{
    margin:40px 50px;
    z-index: 10;
    position: relative;
    display: block;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.icono-menu{
    display: block;
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.cont-menu{
    background-color: #3E4444;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s ease;
    z-index: 1;
}

.active{
    transform: translate(600px);
}

.opacity{
    background-color: #925738;
    transition: all .5s ease;
}
}